body {
    margin-left: 500px;
    margin-right: 500px;
    font-family: arial;
    font-size: 20px;
    background-color: firebrick;
}
p {
    text-align: center;
  
}
#score{
    width: 200px;
    height: 200px;
    background-color: wheat;
    border-style: solid;
    border-color: black;
    margin-left: 50%;
    bottom: 50%;
    position: absolute;

}

h1 {
    color: firebrick;
    text-align: center;
}

.navbar {
    background-color: wheat;
    border-style: solid;
    border-color: black;
    height: 60px;
    
}

.bordArea {
    height: 800px;
    background-color: wheat;
    border-style: solid;
    border-color: black;
    border-top-style: none;
}
#new{
    width: 85px;
   
}
#again{
    width : 85px;
}

.vertical {
    border-style: solid;
    float: left;
    height: 99.3%;
    border-right-style: none;
}

nav ul {
    display: block;
    float: left;
    padding: 20px;
    padding-top: 150px;
}

nav li {
    position: relative;
    bottom: -1em;
    list-style: none;
    text-align: center;
    padding-top: 30px;
}

#levels {
    padding-top: 50px;
    
}

table1 {
    position: relative;
    top: 150px;
    left: 200px;
}
table1 tr td {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

table1 tr td:hover {
    background-color: aqua;
    cursor: pointer;
}
table2 {
    position: relative;
    top: 100px;
    left: 150px;
}
table2 tr td {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
  
}

table2 tr td:hover {
    background-color: aqua;
    cursor: pointer;
}
table3 {
    position: relative;
    top: 50px;
    left: 100px;
}
table3 tr td {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    text-align: center;
    font-size: 30px;
  
}

table3 tr td:hover {
    background-color: aqua;
    cursor: pointer;
}


